


.card{
    margin-top: 9%;
    
    border: none;
    width: 700px;
    padding: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}

.card h1,h6{
    color: aliceblue;
}

label{
    color: aliceblue;
}

.cardmini{
    background: rgb(166, 191, 208);
}
.matcard{
    border: solid 2px;
    padding: 10px;
}